@media screen and (max-width: 760px){

    header{
        flex-direction: row;
        text-align: center;
    }


    main{
        flex-direction: column;
        margin: none;
    }
    h2{
        font-size: 38px;
    }


img{
    margin-top: 20px;
    width: 80px
}
ul{
    text-align: center;
}
